<section>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <a href="/posts/{{id}}">{{title}}</a>
            </h5>
            <span class="post-details">
                <span class="post-details__author">by {{author}}</span> |
                <span class="post-details__date">{{date}}</span>
            </span>
            <p class="card-text">{{contentSummary}}</p>
            <a href="/posts/{{id}}" class="btn btn-primary">Read More</a>
        </div>
    </div>
</section>
