<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">User Information</h3>
    </div>
    <div class="panel-body">
        <span><strong>Name:</strong> {{first_name}} {{last_name}}</span><br>
        <span><strong>Username:</strong> {{username}}</span><br>
        <span><strong>Email:</strong> <a href="mailto:{{email}}">{{email}}</a></span>
    </div>
</div>
