<section>
    <h2>Post ID: {{post.id}}</h2>
    <section style="background-color: white;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{post.title}}</h3>
            </div>
            <div class="panel-body">
                <span class="post-details">
                    <span class="post-details__author">by | {{post.user.username}} |</span>
                    <span class="post-details__date">{{format_time post.createdAt}}</span>
                </span>
                <p>{{post.content}}</p>
            </div>
        </div>
        <p>_______________________________________________________</p>
        <h3>Comments</h3>
        {{#each comments as |comment|}}
            {{> comments-details}}
        {{/each}}
        <a href="../dashboard" class="btn btn-primary">Back</a>
        <!-- Add a Comment button -->
        <a href="/add-comment/{{post.id}}" class="btn btn-primary">Add a Comment</a>
    </section>
</section>
